/* Home */

.img-fluid {
    width: 100vw;
}

.lo-nuevo {
    display: flex;
    justify-content: center;
}

.cards-lo-nuevo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.cards-lo-nuevo .card {
    padding-bottom: 0px;
    padding-top: 30px;
}

.redes {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

.footer {
    background-color: black;
    height: 150px;
    text-align: center;
}

div button {
    background-color: black;
    height: 50px;
    padding-top: 10px;

}

i {
    font-size: 50px;
    color: white;
}

.card-img-top {
    height: 380px;
}

div p {
    padding-top: 10px;
    color: rgb(61, 61, 61);
    text-decoration: solid;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    text-align: center;
    padding-top: 15px;
}
.btn .btn-primary {
    justify-content: center;
}
#carrito {
    width: 50px;
    font-size: 25px;
    color: black;
}

/* Remeras */

#catRemeras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.classRemeras {
    padding-bottom: 15px;
}

/* Camisas */

#catCamisas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.classCamisas {
    padding-bottom: 15px;
}

/* Bermudas */

#catBermudas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.classBermudas {
    padding-bottom: 15px;
}

/* Jeans */

#catJeans {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    text-align: center;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 200px;
}
.classJeans {
    padding-bottom: 15px;
}

/* Shorts de Baño */

#catShorts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.classShorts {
    padding-bottom: 15px;
}
/* Boton de eliminar */

.card-body button {
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
}
.fa-trash-alt {
    padding-left: 1.5px;
    padding-top: 4px;
}
/* Sobre Nosotros */
.sobre-nosotros {
    background-image: url(../Assets/imagen-sobrenosotros.jpg);
    background-size: 100%;
    height:75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo h1 {
    font-family: 'Neucha';
    font-size: 80px;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}
.parrafos p {
    font-family: 'Neucha';
    font-size:20px;
    color: white;
    width: 75%;
    text-align: center;
    padding-left: 25%;
}
